
    <link type="text/css" rel="stylesheet" href="~/assets/css/style.css">

<body>

    <main>
        <section class="banner">
            <div class="sliders">
                <div class="slide">
                    <div class="slideArea" id="slideArea1">
                        <h1>
                            <span>HMS</span>
                        </h1>
                        <a class="button" href="#">Rreth Nesh</a>
                    </div>
            </div>
        </section>

        <section class="default light" id="aboutus">
            <div class="section-title">Rreth Nesh</div>
            <div class="section-desc">Kush jemi ne ? </div>
            <div class="section-body">
                <div class="section-aboutUs">
                    <div class="section-aboutUs-left">
                        Në kliniken tonë kryhen edhe shërbimet pediatrike neurologjike, obsetrikë gjinekologjike, urologjike, kardiologjike, pulmologjike, gastroenterologjike, radiologjike, psikologjike, alergologjike dhe mjeku familjar.
                        <br />
                        <a class="button" href="#">Lexo me shume rreth nesh</a>
                    </div>
                    <div class="section-aboutUs-right">
                        <img src="~/assets/images/dep4.jpg" rel="Happy People">
                    </div>
                </div>
            </div>
        </section>

        <section class="default dark" id="services">
            <div class="section-title">Cilat janë shërbimet dhe cilësitë tona</div>
            <div class="section-desc">Shqetësimet e juaja, përgjegjësia e jonë</div>
            <div class="section-body">
                <div class="section-services">
                    <div class="section-service">
                        <img src="./assets/images/icon1.png" />
                        <h4>Staf Profesional</h4>
                        <p>Stafi i ynë është i përbërë nga specialist të fushave të ndryshme, të nivelit të lartë akademik dhe me përvojë shumë-vjeqare.</p>
                    </div>
                    <div class="section-service">
                        <img src="./assets/images/icon2.png" />
                        <h4>Raste Emergjente</h4>
                        <p>Për juve mbetet vetëm një thirrje telefonike në emergjencën tonë, dhe stafi ynë mjekësor për raste emergjente do të ofroj ndihmën dhe transportimin deri tek Spitali ynë.</p>
                    </div>
                    <div class="section-service">
                        <img src="./assets/images/icon3.png" />
                        <h4>Doktorë të Kualifikuar</h4>
                        <p>Doktor të kualifikuar në fushat përkatëse, njohës të thellë të lëmive dhe karierë të bujshme profesionale.</p>
                    </div>
                    <div class="section-service">
                        <img src="./assets/images/icon4.png" />
                        <h4>24/7 Kujdes Maksimal</h4>
                        <p>Për pacientët e hospitalizuar, mbikqyrje të vazhdueshme nga Doktorët kujdestarë, dhe stafi përcjellës. Gjithnjë me juve dhe afër juve.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="default light" id="departaments">
            <div class="section-title">Deparamentet</div>
            <div class="section-body">
                <div class="section-projects">
                    <div class="section-projects--photos">
                        <div class="section-projects--photo">
                            <div class="section-projects--photoArea">
                                <div class="section-projects--photoInfo">
                                    <h3>Pediatri</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                                    <a class="button" href="#">Cakto termin</a>
                                </div>

                                <img src="./assets/images/dep1.jpg" />
                            </div>
                        </div>
                        <div class="section-projects--photo">
                            <div class="section-projects--photoArea">
                                <div class="section-projects--photoInfo">
                                    <h3>Dermatologji</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                                    <a class="button" href="#">Cakto termin</a>
                                </div>

                                <img src="./assets/images/dep2.jpg" />
                            </div>
                        </div>
                        <div class="section-projects--photo">
                            <div class="section-projects--photoArea">
                                <div class="section-projects--photoInfo">
                                    <h3>Radiologji</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                                    <a class="button" href="#">Cakto termin</a>
                                </div>

                                <img src="./assets/images/dep3.jpg" />
                            </div>
                        </div>
                        <div class="section-projects--photo">
                            <div class="section-projects--photoArea">
                                <div class="section-projects--photoInfo">
                                    <h3>Gjinekologji</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                                    <a class="button" href="#">Cakto termin</a>
                                </div>
                                <img src="assets/images/gyn.jpg" />
                            </div>
                        </div>
                        <div class="section-projects--photo">
                            <div class="section-projects--photoArea">
                                <div class="section-projects--photoInfo">
                                    <h3>Stomatologji</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                                    <a class="button" href="#">Cakto termin</a>
                                </div>

                                <img src="assets/images/stomatology.jpeg" />
                            </div>
                        </div>
                        <div class="section-projects--photo">
                            <div class="section-projects--photoArea">
                                <div class="section-projects--photoInfo">
                                    <h3>Kirurgji</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                                    <a class="button" href="#">Cakto termin</a>
                                </div>

                                <img src="assets/images/dep6.jpg">
                            </div>
                        </div>

                    </div>
                    <a class="button" href="#">Me shume dep</a>
                </div>
            </div>
           
        </section>

        <section class="default dark bg-directors" id="doctors">
            <div class="section-directorsArea">
                <div class="section-title">Doktorët</div>
                <div class="section-desc">
                    Staf Profesional
                    Stafi i ynë është i përbërë nga specialist të fushave të ndryshme, të nivelit të lartë akademik dhe me përvojë shumë-vjeqare
                </div>
                <div class="section-body">
                    <div class="section-directors">
                        <div class="sliders">
                            <div class="slide">
                                <div class="slideArea" id="slideArea1">
                                    <img src="assets/images/dr1.jpg">
                                    <div class="section-director--name">Dr.Denisë Demaku</div>
                                    <div class="section-director--role">Mjeke Familjare</div>
                                    <div class="section-director--media">
                                        <a href="#"><img src="assets/images/linkedin.png" style="width: 11px"></a>
                                        <a href="#"><img src="assets/images/twitter.png" style="width: 11px"></a>
                                        <a href="#"><img src="assets/images/facebook.png" style="width: 7px"></a>
                                        <a href="#"><img src="assets/images/googleplus.png" style="width: 15px"></a>
                                        <a href="#"><img src="assets/images/pinterest.png" style="width: 11px"></a>
                                    </div>
                                </div>
                            </div><div class="slide">
                                <div class="slideArea" id="slideArea2">
                                    <img src="assets/images/dr3.png">
                                    <div class="section-director--name">Dr.Hana Macula</div>
                                    <div class="section-director--role">Stomatologe</div>
                                    <div class="section-director--media">
                                        <a href="#"><img src="assets/images/linkedin.png" style="width: 11px"></a>
                                        <a href="#"><img src="assets/images/twitter.png" style="width: 11px"></a>
                                        <a href="#"><img src="assets/images/facebook.png" style="width: 7px"></a>
                                        <a href="#"><img src="assets/images/googleplus.png" style="width: 15px"></a>
                                        <a href="#"><img src="assets/images/pinterest.png" style="width: 11px"></a>
                                    </div>
                                </div>
                            </div><div class="slide">
                                <div class="slideArea" id="slideArea3">
                                    <img src="assets/images/dr4.jpg">
                                    <div class="section-director--name">Odeta Çoçaj</div>
                                    <div class="section-director--role">Pediatre</div>
                                    <div class="section-director--media">
                                        <a href="#"><img src="assets/images/linkedin.png" style="width: 11px"></a>
                                        <a href="#"><img src="assets/images/twitter.png" style="width: 11px"></a>
                                        <a href="#"><img src="assets/images/facebook.png" style="width: 7px"></a>
                                        <a href="#"><img src="assets/images/googleplus.png" style="width: 15px"></a>
                                        <a href="#"><img src="assets/images/pinterest.png" style="width: 11px"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

</body>
