@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="container mt-4">
    <h1 class="text-center">Politika e Privatësisë</h1>
    <p><strong>Hyrje:</strong></p>
    <p>
        Mbrojtja e privatësisë së klientëve tanë, pacientëve të tyre dhe punonjësve tanë është shumë e rëndësishme për organizatën tonë. 
        Ne kemi zbatuar masa administrative dhe teknike për të garantuar sigurinë dhe privatësinë e të dhënave personale dhe shëndetësore. 
        Kjo politikë privatësie përshkruan qëllimet tona lidhur me sigurinë dhe privatësinë e të dhënave, llojet e informacioneve që mbledhim, 
        si i përdorim ato dhe të drejtat e individëve për të kufizuar apo korrigjuar ato informacione. Kjo politikë zbatohet për të gjitha informacionet personale, 
        pavarësisht nëse janë elektronike, të shkruara apo të komunikuara me gojë.
    </p>

    <h3>Përkufizime:</h3>
    <ul>
        <li><strong>Disponueshmëria:</strong> Të dhënat janë të qasshme dhe të përdorshme sipas kërkesës nga një person i autorizuar.</li>
        <li><strong>Konfidencialiteti:</strong> Të dhënat nuk bëhen të qasshme ose nuk ndahen me persona ose procese të paautorizuara.</li>
        <li><strong>Integriteti:</strong> Të dhënat nuk janë ndryshuar ose shkatërruar në mënyrë të paautorizuar.</li>
        <li><strong>Informacion i Mbrojtur Shëndetësor (IMS):</strong> Informacione shëndetësore që identifikojnë ose mund të identifikojnë një individ.</li>
    </ul>

    <h3>Parimet:</h3>
    <h4>Njoftimi:</h4>
    <p>
        Ne informojmë klientët dhe punonjësit për qëllimet për të cilat mbledhim dhe përdorim informacionin personal dhe të shëndetësor.
        Gjithashtu, ofrojmë mundësinë për kufizimin e përdorimit të këtyre të dhënave.
    </p>

    <h4>Përdorimi i IMS:</h4>
    <p>
        Të gjitha informacionet shëndetësore të mbrojtura janë anonimizuar gjatë ruajtjes dhe lidhen vetëm me një ID të rastësishme për të parandaluar riidentifikimin.
    </p>

    <h4>Siguria e të Dhënave:</h4>
    <p>
        Ne kemi krijuar një program gjithëpërfshirës për sigurinë dhe privatësinë e të dhënave për të mbrojtur informacionin nga humbja, keqpërdorimi dhe qasja e paautorizuar.
    </p>

    <h4>Integriteti i të Dhënave:</h4>
    <p>
        Përpunimi i të dhënave do të jetë gjithmonë në përputhje me qëllimin për të cilin janë mbledhur.
    </p>

    <h4>Qasja:</h4>
    <p>
        Individët do të kenë të drejtën të kenë qasje në informacionet e tyre personale dhe të kërkojnë korrigjime apo përditësime nëse janë të pasakta.
    </p>

    <h4>Informacion Kontakti:</h4>
    <p>
        Për pyetje, komente apo ankesa lidhur me Politikat e Privatësisë mund të na kontaktoni në adresën më poshtë:
    </p>
    <p><strong>Spitali XYZ</strong><br>
        Prishtinë, Kosovë<br>
        Rruga "Dëshmorët e Kombit", Nr. 12<br>
        Email: info@spitalixyz.com</p>
</div>
