@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="container mt-4">
    <h1 class="text-center">Privacy Policy</h1>
    <p><strong>Introduction:</strong></p>
    <p>
        Protecting the privacy of our clients, their patients, and our employees is of utmost importance to our organization. 
        We have implemented administrative and technical measures to ensure the security and privacy of personal and health-related data. 
        This privacy policy outlines our objectives regarding data security and privacy, the types of information we collect, 
        how we use it, and the rights of individuals to restrict or correct such information. This policy applies to all personal information, 
        whether electronic, written, or communicated orally.
    </p>

    <h3>Definitions:</h3>
    <ul>
        <li><strong>Availability:</strong> Data is accessible and usable upon request by an authorized person.</li>
        <li><strong>Confidentiality:</strong> Data is not made accessible or shared with unauthorized persons or processes.</li>
        <li><strong>Integrity:</strong> Data is not altered or destroyed in an unauthorized manner.</li>
        <li><strong>Protected Health Information (PHI):</strong> Health information that identifies or can identify an individual.</li>
    </ul>

    <h3>Principles:</h3>
    <h4>Notice:</h4>
    <p>
        We inform clients and employees about the purposes for which we collect and use personal and health-related information. 
        We also provide the option to limit the use of this data.
    </p>

    <h4>Use of PHI:</h4>
    <p>
        All protected health information is anonymized during storage and is associated only with a random ID to prevent re-identification.
    </p>

    <h4>Data Security:</h4>
    <p>
        We have developed a comprehensive data security and privacy program to protect information from loss, misuse, and unauthorized access.
    </p>

    <h4>Data Integrity:</h4>
    <p>
        Data processing will always comply with the purpose for which it was collected.
    </p>

    <h4>Access:</h4>
    <p>
        Individuals will have the right to access their personal information and request corrections or updates if it is inaccurate.
    </p>

    <h4>Contact Information:</h4>
    <p>
        For questions, comments, or complaints regarding the Privacy Policy, you can contact us at the address below:
    </p>
    <p><strong>XYZ Hospital</strong><br>
        Prishtina, Kosovo<br>
        "Dëshmorët e Kombit" Street, No. 12<br>
        Email: info@spitalixyz.com</p>
</div>
