<div class="sidebar">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="@Url.Action("ManageAdmins", "Admin")" class="text-decoration-none text-dark">Manage Admins</a>
        </li>
        <li class="list-group-item">
            <a href="@Url.Action("ManageDoctors", "Admin")" class="text-decoration-none text-dark">Manage Doctors</a>
        </li>
        <li class="list-group-item">
            <a href="@Url.Action("ManagePatients", "Admin")" class="text-decoration-none text-dark">Manage Patients</a>
        </li>
        <li class="list-group-item">
            <a href="@Url.Action("MyAccount", "Admin")" class="text-decoration-none text-dark">My Account</a>
        </li>
    </ul>
</div>
