<!-- Admin Sidebar (AdminSideBar.cshtml) -->
<div class="sidebar">
    <ul>
        <li><a href="@Url.Action("ManageAdmins", "Admin")">Manage Admins</a></li>
        <li><a href="@Url.Action("ManageDoctors", "Admin")">Manage Doctors</a></li>
        <li><a href="@Url.Action("ManagePatients", "Admin")">Manage Patients</a></li>
    </ul>
     <li><a href="@Url.Action("MyAccount", "Admin")">My Account</a></li>
</div>
